 html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        font-family: 'Montserrat', sans-serif;
        color: #2c2c2c;
    }


p{
	line-height: 1.8em;
	/*max-width: 433px;*/
}

h1{
	font-family: 'Delius', cursive;
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 1.4em;
	font-weight: 100;

	color: #f0f0f0;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;

}

h3{
	font-family: 'Open Sans', sans-serif;
	
}

h4 {
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 20em){
	h1{
		font-size: 1em;
		/*padding-top: 1em;*/
	}
}

section{
	width: 100%;
	padding-bottom: 2em;

}

.center-box{
	margin: auto;
	max-width: 55em;
/*	background-color: orange;*/

}

.large-center-box{
	max-width: 80em;
	margin: auto;
}

/*.left-box{
	background-color: yellow;
}

.right-box{
	background-color: orange;
}*/

.para{
	box-sizing: border-box;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 480px;
	margin: auto;
}



@media (min-width: 48em){
	.para-left{
		margin-left: 0;
	}
	.para-right{
		margin-right: 0;
	}
}

@media (min-width: 65em){
	.para-left{
		padding-left: 0;
	}
	.para-right{
		padding-right: 0;
	}
}


/*--------------------------header------------------------------------------*/
.header{
	background-color: #44565f;
	/*opacity: 0.5;
  filter: alpha(opacity=50)*/

}

#logo{
	max-width: 100px;
}


.logo{
/*	text-align: center;*/
	/*color: #2c2c2c;*/
	color: #666666;
	padding-left: 1em;
	/*max-width: 380px;*/
	
}


#logo-box{
	max-width: 100px;
	
}

#logo-box{
	/*background-color: red;*/
	box-sizing: border-box;
	margin: 1em 0.7em 1em 0;
}

.logo h1{
	line-height: 2em;
	letter-spacing: 0.05em;
	/*padding-left: 0.5em;*/
}

.email{
	display: none;
	color: #f0f0f0;
	border-color: yellow;
}

@media (max-width: 20em){
#title{
	padding-top: 0.5em;
}
}


@media (min-width: 35.5em){
	.logo{
		text-align: left;
	}
	/*#logo{
	max-width: 120px;
	padding-top: 0.5em;
	}*/
	/*background-color: yellow;*/
	/*#logo-box{
	max-width: 120px;
	}*/
}
	
	


@media (min-width: 48em){
	.email{	
		display: block;
		text-align: right;
		padding-right: 1em;
		padding-top: 0.5em;
	}
}


/*--------------------banner-------------------------------------------------------*/

body{
	/*background-color: red;*/
}
#banner-box{
	/*background-color: blue;*/
	
}

.banner {
	
	background: transparent url('../images/skull_half.png');

	/*background-color: green;*/
	/*background-size: cover;*/
	background-repeat: no-repeat;
	 /*background-size: 100%;*/
	/*background-attachment: scroll;*/

	background-position: right bottom;

    text-align: left;

    
    background-size: 340px;
    
    /*margin-top: 2em;*/
    height: 260px;
    width: 100%;
    margin-bottom: 2em;
    display: table;
    

}

.banner-head {
        display: table-cell;
        vertical-align: top;
        padding-top: 1.5em;
        padding-left: 1em;
        margin-bottom: 0;
        font-size: 1.8em;
        color: #546b76;
        /*color: #849ca8;*/
        font-weight: 400;
        text-shadow: 1px 1px #2c2c2c;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.8em;
    }

@media (max-width: 20em){
	.banner-head{
		font-size: 1.4em;
	}
}

@media (min-width: 35.5em) {
    .banner {
        /*height: 370px;*/
        /*background-size: 370px;*/
        height: 400px;
        background-size: 360px;
    }
    .banner-head {
        font-size: 2.5em;
    }
    

}
@media (min-width: 48em){
	.banner-head{
		font-size: 3em;
	}
	.banner {
		background: transparent url('../images/skull2.png');
		background-repeat: no-repeat;
		height: 600px;
		width: 767px;
		margin: auto;
        background-attachment: fixed;
        background-size: 767px;
        background-position: center bottom;
        margin-top: 0;
    }

}

/*--------------------services----------------------------------------*/

/*.services-box{
	margin: auto;
	padding-bottom: 2em;
	max-width: 80em;
}*/

.services{
	height: 380px;
	text-align: center;
}

.zoom{

	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);

	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.zoom:hover{

	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.services p{
	color: #929292;

	padding-top: 0;
	font-size: 0.9em;
	font-family: 'Open Sans', sans-serif;
}

.services h3{
	margin-top: 0;
}

.services img{
	padding-top: 1em;
}

@media (max-width: 20em){
	.zoom:hover{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

/*-------------testimonials-----------------------------------*/
#testimonials-box{
	background-color: #f0f0f0;
/*	padding-top: 1em;
	padding-bottom: 1em;*/
}

/*.testimonials{
	margin: auto;
	max-width: 80em;
}*/

/*.boris{

	padding-left: 1em;
	padding-right: 1em;
}*/


#boris h4{
	/*color: #666666;*/
	margin-top: 2em;
}

.prof{
	/*font-size: 0.9em;*/
	/*color: #929292;*/
	/*font-family: 'Open Sans', sans-serif;*/
}

.prof span{
	font-weight: bold;
}


/*.easel-box{
		margin: auto;
}*/
#easel{
	box-sizing: border-box;
	max-width: 480px;
	padding: 2em 0 3em 0;
	margin: auto;
	/*max-width: 340px;*/
}


@media (min-width: 48em){
	#easel{
		margin-right: 0;
		/*max-width: 80em;*/
	}	
	.testimonials-box{
		padding-bottom:3em;
	}
}




/*---------------------philosophy-------------------------------*/
#philosophy-box{
	background-color: #2c2c2c;
}


#work-philosophy p{
	color: #f0f0f0;
}

#work-philosophy h2{
	color: #f0f0f0;
	
}

#work-philosophy h3{
	color: #a7a7a7;
	
}

/*#leaf{
	box-sizing: border-box;
	padding: 2em 3em 1.5em 3em;
	max-width: 25em;
	margin: auto;
}*/


#philo1{
	box-sizing: border-box;
		padding-right: 1em;
}
#philo2{
	box-sizing: border-box;
		padding-right: 1em;
}

#leaf{
	box-sizing: border-box;
	padding: 2em 1em 3em 1em;
	margin: auto;
	max-width: 340px;
}


@media (min-width: 48em){
	#philo2{
	box-sizing: border-box;
		padding-top: 3.7em;
		padding-left: 1em;
	}
	#leaf{
		margin-left: 0;
	}
}

@media (min-width: 65em){
	#leaf{
		padding-left: 0;
	}

}
/*@media (min-width: 80em){
	.leaf-box{
		margin-left: 0;
	}
}*/


/*-----------------------------portfolio-----------------------------------*/
/*#portfolio-box{
	padding-top: 1em;
	padding-bottom: 1em;
}*/



/*#illustration-title{
	padding-left: 1em;
}*/


#portfolio-img{
	/*padding: 0 1em 1em 1em; */
}

#portfolio-img img{
	box-sizing: border-box;
	padding: 1.5em;
}

.images{
	
	max-width: 420px;
	margin: auto;
	
}

.box-1{
	background-color: #2c2c2c;
/*	background-color: #343D42;*/
}

.box-2{
	background-color: #f0f0f0;

	background-color: #849CA8;
}

.box-3{
/*	background-color: #6FA4B2;
	background-color: #5a696f;*/
	background-color: #48555c;
	background-color: #849CA8;
}

.box-4{
	background-color: #f0f0f0;
}

@media (min-width: 35.5em){
	/*#portfolio-img img{
		padding: 1em;
	}*/
}

@media (min-width: 48em){
	/*.images{
		max-width: 450px;
	}*/
	#illustration-title{
		margin-left: 0;
	}
}

@media (min-width: 80em){
	/*#portfolio-img img{
		padding: 2em;
	}*/
}


/*---------------------About-----------------------------*/


#about-box h3{
	color: #666666;

}

@media (min-width: 48em){
	#med-para{
	
		padding-top: 3.5em;
	}
}


/*-------------------------icons----------------------------*/




#icon-text img{
	box-sizing: border-box;
	padding-top: 1em;
	margin: auto;
}

#icon-text p{
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #929292;
	font-weight: bold;
}

.paragraph{
	padding-bottom: 0;
}


@media (min-width: 48em){
	#title{
		margin-left: 0;
	}
}

/*----------------------collage-------------------------*/
#first-collage{
	/*display: none;*/
	box-sizing: border-box;
	max-width: 80em;
	margin-left: 0;
	margin-bottom: 1.8em;
	margin-top: 1em;
	padding: 0 0 0 0;
	/*padding: 1em;*/
}

/*#second-collage{
	padding: 1em;
}*/

@media (min-width: 35.5em){
	
	#second-collage{
		/*display: none;*/}
}

@media (min-width: 48em){
	#first-collage{
	padding: 0 1em 0 0;
	}
}

/*-----------------contacts--------------------*/

#contact-box {

/*	max-width: 80em;
	margin: auto;
	padding: 1em 1em 3em 1em;*/
	background-color: #f0f0f0;
}

/*.contact{
	max-width: 80em;
	margin: auto;
	background-color: #f0f0f0;
}*/


/*#alice{
	box-sizing: border-box;
	padding: 2em 2em 1em 2em;
	max-width: 340px;
	margin: auto;
	}*/

/*#education{
	box-sizing: border-box;
	padding: 0;
	
}*/

#alice{
	box-sizing: border-box;
	max-width: 340px;
	padding: 2em 1em 3em 1em;
	margin: auto;
}

#name span{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}



@media (min-width: 35.5em){
	#alice{
		margin-left: 0;
		padding: 1.5em 0 3em 1em;
	}
	#name{
		padding-left: 2em;
	}

}
@media (min-width: 48em){
	#name{
		padding-left: 1em;
	}
}
@media (min-width: 65em){
	#alice{
		padding-left: 0;
	}

}



/*-------------------footer-------------------------*/
.footer{
	/*background-color: #6d6d6d;*/
	background-color: #2c2c2c;

	
}
.footer p{
	color: #f0f0f0;
}

#footer-email{
	box-sizing: border-box;
	padding-left: 1em;
}

#linkedin{
	box-sizing: border-box;
	text-align: right;
	padding-right: 1em;
}


