/*General*/
/*colors on dark background
general text #f0f0f0
headings and highlights #929292

colors on white background
general text #929292;
headings3 #686868

colors on grey background
general text #838383;*/

*{
	padding: 0;
	margin: 0;
}

h1{
	font-size: 1.8em;
	color: #8ab756;
	font-family: 'Open Sans', sans-serif;
}

h2{
	font-size: 1.6em;
	color: 2c2c2c;
	line-height: 1em;
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

h3{
	font-size: 1.3em;
	padding-bottom: 10px;
	color: #2c2c2c;
	font-family: 'Open Sans', sans-serif;
}

p{
	font-size: 1.1em;
	margin: 0;
	line-height: 30px;
	padding-bottom: 10px;
	padding-top: 10px;

	font-family: 'Montserrat', sans-serif;
}

a{
	color: #929292;
	/*color: #7DB931;*/
}

b{
	color: #686868;
	font-family: 'Open Sans', sans-serif;
}

body{
	padding: 0;
	margin: 0;
	/*font-family: "brandon-grotesque", sans-serif;*/
}

main{
	width: 100%;
	background-color: #ffffff;
}

section{
	padding-top: 45px;
	padding-bottom: 65px;
	width: 100%;
}

.container{
	width: 95%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

article{
	padding-bottom: 45px;
}





/*header*/
header{
	width: 100%;
	background-color: #2c2c2c;
	color: #f0f0f0;
}

#header{	
	width: 100%;
	margin: auto;
}

#logo{
	display: inline-block;
	margin-left: 2.5%;
}

#logo h1 {
  top: 0px;
  margin-top: 10px;
  line-height: 40px;
}

#email{
	display: inline-block;
	float: right;
	margin-right: 2.5%;
	font-family: 'Open Sans', sans-serif;
}

#tagline{
	width: 100%;
	min-width: 380px;
	margin-left: 2.5%;
}

#tagline p{
	padding-bottom: 20px;
}









/*banner*/
#banner{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}



.services{
	box-sizing: border-box;
	height : 340px;
	width : calc(100%/3);
	float: left;
	margin-top: 15px;
	margin-bottom: 25px;
	text-align : center;


}

.services h2{
	margin: 0px;
	padding-top: 10px;
}

.border{
	box-sizing: border-box;
	margin: auto;
	border-radius: 0.5em;
	padding: 10px;
	
}

.border:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

.services img{
	padding-top: 20px;
}

.services p{
	color: #929292;
	padding-top: 0;
	font-size: 0.9em;
	font-family: 'Open Sans', sans-serif;
}









/*Testimonials*/
#testimonials{
	background-color: #f0f0f0;

}


#text{
	width: 40%;
	/*min-width: 380px;*/
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 35px;
	/*background-color: green;*/
}

#text h2{
	color: #2c2c2c;
}


#content{
	
	/*box-sizing: border-box;*/
	width: 60%;
	/*min-width: 600px;*/
	/*height: 400px;*/
	/*background-color: orange;*/
/*	padding: 35px;*/
/*	padding: 35px 0 35px 0;*/
}

/*#content div{
	background-color: red;
	display: block;
	margin-right: auto;
	margin-left: auto;
	float: right;
	
	width: 600px;

}*/


#content img{
	box-sizing: border-box;
	display: block;
	/*padding: 30px;*/
	/*height: 400px;*/
	/*width: 600px;*/
	border-radius: 0.5em;
	/*float: right;*/
	background-color: #f0f0f0;
	/*padding: 35px;*/
	padding: 2.5%;
	float: right;
	margin: auto;
	/*border: 1px solid #929292;*/
	/*padding: 15px;*/
	width: 100%;
	max-width: 600px;

}







/*philosophy*/
#philosophy{
	background-color: #2c2c2c;
}

#steps2 {
	color: #f0f0f0;
}

#text2{
	width: 40%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}


#content2 img{
	box-sizing: border-box;
	display: block;
	border-radius: 0.5em;
	background-color: 2c2c2c;
	padding: 0px 35px 10px 35px;
	float: right;
	margin: auto;
	width: 100%;
	max-width: 430px;

}























/*other work*/

#otherwork h2{
	text-align: center;
	padding-bottom: 0;
}

.line{
	
	display: flex;

}

#line1{
	padding-top: 45px;
}


.works{
	flex-basis: calc(100%/3);
	display: flex;
	justify-content: center;
}

.works img{

}

#box1{
	background-color: #2c2c2c;
}

#box2{
	background-color: #f0f0f0;
}










/*about*/

#alice{
	padding-bottom: 20px;
}


#steps3 {
	color: #2c2c2c;
}



#text3{
	width: 40%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
/*	background-color: green;*/
}
/*#content3{
	background-color: orange;

}*/
#education{
/*	background-color: purple;*/
	display: block;
	width: 50%;
	padding: 0px 0px 45px 35px;
	/*padding: 0px 35px 45px 35px;*/
	/*width: 100%;

*/
}
#content3 img{
	box-sizing: border-box;
	border-radius: 0.5em;
	/*background-color: #2c2c2c;*/
	padding: 0px 35px 45px 35px;
	/*float: left;*/
	/*margin: auto;*/
	width: 100%;
	max-width: 330px;
	/*background-color: blue;*/

}

span{
	color: #8ab756;
	font-family: 'Open Sans', sans-serif;
}

#drawings{

/*		background-color: red;*/
		/*width: 560px;*/

}

#drawings img{
	width: 580px;
	display: none;
	height: ;
}

#drawings img:last-child{
	box-sizing: border-box;
	border-radius: 0.5em;
	padding: 25px 35px 0px 35px;
	width: 100%;
	max-width: 330px;


}






/*skills*/
/*#skills{
	display: flex;
	justify-content: center;
}


.container{
	width: 95%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}*/



ul{
	width: 95%;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;

}

li{
	flex: 1;
	list-style-type: none;
	padding: 0px 20px 0px 20px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}

ul img{
	margin: auto;
	display: block;
	width: 48px;
	height: 48px;
}

ul p{
	/*margin-top: 5px;*/
	color: #2c2c2c;
	font-size: 0.8em;
	white-space: nowrap;
	opacity: 0;
	padding-top: 0;
	padding-bottom: 0;
}

li:hover{
	transition: 0.8s;
}

p:hover{
	opacity: 1;
}











/*footer*/
footer{
	width: 100%;
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
	height: 65px;

}

footer div{
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

footer h2{
	font-size: 1.1em;

}

footer p{
	font-size: 0.9em;
	font-family: 'Open Sans', sans-serif;
}






/*medium screen*/
/*@media (max-width: 1102px){*/
@media (max-width: 1155px){
	#banner{
		padding-top: 0px;
	}

	.services{
		width: calc(100%/2);
	}
	#about{
		flex-direction: column;
	}
	#content{
		width: 100%;
	}
	#content img{
		/*max-width: 600px;*/
		float: none;		
	}
	#text{
		width: 50%;
	}
	#text2{
		width: 50%;
	}
	#content2 img{
		padding-bottom: 45px;
	}
	#text3{
		width: 50%;
	}
}


@media (max-width: 852px){
	
	#slogan{
		width: 100%;
	}
	#text{
		width: 60%;
	}
	#text3{
		width: 60%;
	}
}

@media(max-width: 821px){
	#tuts{
		display: none;
		background-color: red;
	}

	#drawings img:first-child{
		display: inline;
	}
	#drawing_one{
		float: left;
	}
	#drawing_two{
		float: right;
		padding-left: 4px;
	}
}


/*medium screen*/
@media (max-width: 735px){
	.services{
		width: 100%;
	}
	.line{
		flex-direction: column;
	}
	#email{
		display: none;
	}
	#content{
		width: 90%;
		margin: auto;
	}
	#text{
		width: 100%;
	}
	#text2{
		width: 100%;
	}
	#text3{
		width: 100%;
	}

}


/*small screen*/
@media (max-width: 599px){

	#text p{
		width:100%;
	}
	.quoteborder{
		width: 95%;
	}
	#aboutimg{
		margin: auto;
	}
	#aboutimg p{
		margin: auto;
		text-align: center;
	}
	#aboutimg img{
		margin: auto;		
	}
	#aboutimg h2{
		margin: auto;
		text-align: center;
	}
	#drawings img:first-child{
		display: none;
	}
	#drawings img:last-child{
		display: inline;
	}
}

@media (max-width: 559px){
	#drawing_one{
		float: center;
	}
}
